@import "tailwindcss";

@keyframes slideUpFade{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }100%{
        transform: translateY(-20px);
        opacity: 0;
    }
}

.slideup{
    animation: slideUpFade 0.5 forwards;
}